/*
 * estilos personalizados para a web de NQysit
 */

.archistico {
    font-family: archistico_simple; 
}

.orbitron {
    font-family: orbitron_medium;
}


/*



*/



footer {
    color: #fec503;
}

footer h3 {
    margin-bottom: 30px;
}

.footer-above {
    padding-top: 50px;
    //background-color: #2c3e50;
    background-color: #555;
}

 .footer-col {
    margin-bottom: 50px;
}

 .footer-below {
    padding: 25px 0;
    //background-color: #233140;
    background-color: #222;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}