/*
 * Fontes usadas no logo e web de NQysit
 */

@font-face {
    font-family: archistico_bold;
    src: url("../nqfonts/archistico_bold.ttf");
}

@font-face {
    font-family: archistico_simple;
    src: url("../nqfonts/archistico_simple.ttf");
}

@font-face {
    font-family: orbitron_black;
    src: url("../nqfonts/orbitron_black.otf");
}

@font-face {
    font-family: orbitron_bold;
    src: url("../nqfonts/orbitron_bold.otf");
}

@font-face {
    font-family: orbitron_light;
    src: url("../nqfonts/orbitron_light.otf");
}

@font-face {
    font-family: orbitron_medium;
    src: url("../nqfonts/orbitron_medium.otf");
}